.sign-in-button-area{
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    top: 0px;
}
.sign-in-formular{
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    top: 0px;
}